USE [master]
GO
/****** Object:  Database [EVDataMarketplace]    Script Date: 11/3/2025 4:43:21 PM ******/
CREATE DATABASE [EVDataMarketplace]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EVDataMarketplace', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EVDataMarketplace.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EVDataMarketplace_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EVDataMarketplace_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EVDataMarketplace].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EVDataMarketplace]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/3/2025 4:43:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APIKey]    Script Date: 11/3/2025 4:43:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APIKey](
	[key_id] [int] IDENTITY(1,1) NOT NULL,
	[api_purchase_id] [int] NOT NULL,
	[consumer_id] [int] NOT NULL,
	[key_value] [nvarchar](255) NOT NULL,
	[key_name] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[last_used_at] [datetime2](7) NULL,
	[is_active] [bit] NOT NULL,
	[revoked_at] [datetime2](7) NULL,
	[revoked_reason] [nvarchar](500) NULL,
	[requests_today] [int] NOT NULL,
	[last_request_date] [datetime2](7) NULL,
 CONSTRAINT [PK_APIKey] PRIMARY KEY CLUSTERED 
(
	[key_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APIPackage]    Script Date: 11/3/2025 4:43:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APIPackage](
	[api_id] [int] IDENTITY(1,1) NOT NULL,
	[dataset_id] [int] NULL,
	[consumer_id] [int] NULL,
	[api_key] [nvarchar](255) NULL,
	[api_calls_purchased] [int] NULL,
	[api_calls_used] [int] NOT NULL,
	[price_per_call] [decimal](18, 2) NULL,
	[purchase_date] [datetime2](7) NOT NULL,
	[expiry_date] [datetime2](7) NULL,
	[total_paid] [decimal](18, 2) NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK_APIPackage] PRIMARY KEY CLUSTERED 
(
	[api_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APIPackagePurchase]    Script Date: 11/3/2025 4:43:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APIPackagePurchase](
	[api_purchase_id] [int] IDENTITY(1,1) NOT NULL,
	[consumer_id] [int] NOT NULL,
	[province_id] [int] NULL,
	[district_id] [int] NULL,
	[api_calls_purchased] [int] NOT NULL,
	[api_calls_used] [int] NOT NULL,
	[price_per_call] [decimal](18, 4) NOT NULL,
	[total_paid] [decimal](18, 2) NOT NULL,
	[purchase_date] [datetime2](7) NOT NULL,
	[expiry_date] [datetime2](7) NULL,
	[status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_APIPackagePurchase] PRIMARY KEY CLUSTERED 
(
	[api_purchase_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DataConsumer]    Script Date: 11/3/2025 4:43:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataConsumer](
	[consumer_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[organization_name] [nvarchar](150) NULL,
	[contact_person] [nvarchar](150) NULL,
	[contact_number] [nvarchar](20) NULL,
	[billing_email] [nvarchar](150) NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DataConsumer] PRIMARY KEY CLUSTERED 
(
	[consumer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DataPackagePurchase]    Script Date: 11/3/2025 4:43:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataPackagePurchase](
	[purchase_id] [int] IDENTITY(1,1) NOT NULL,
	[consumer_id] [int] NOT NULL,
	[province_id] [int] NOT NULL,
	[district_id] [int] NULL,
	[start_date] [datetime2](7) NULL,
	[end_date] [datetime2](7) NULL,
	[row_count] [int] NOT NULL,
	[price_per_row] [decimal](18, 4) NOT NULL,
	[total_price] [decimal](18, 2) NOT NULL,
	[purchase_date] [datetime2](7) NOT NULL,
	[download_count] [int] NOT NULL,
	[max_download] [int] NOT NULL,
	[last_download_date] [datetime2](7) NULL,
	[status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DataPackagePurchase] PRIMARY KEY CLUSTERED 
(
	[purchase_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DataProvider]    Script Date: 11/3/2025 4:43:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataProvider](
	[provider_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[company_name] [nvarchar](150) NOT NULL,
	[company_website] [nvarchar](255) NULL,
	[contact_email] [nvarchar](150) NULL,
	[contact_phone] [nvarchar](20) NULL,
	[address] [nvarchar](max) NULL,
	[province_id] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DataProvider] PRIMARY KEY CLUSTERED 
(
	[provider_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dataset]    Script Date: 11/3/2025 4:43:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dataset](
	[dataset_id] [int] IDENTITY(1,1) NOT NULL,
	[provider_id] [int] NOT NULL,
	[port_id] [int] NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[category] [nvarchar](150) NULL,
	[data_format] [nvarchar](50) NULL,
	[row_count] [int] NOT NULL,
	[upload_date] [datetime2](7) NOT NULL,
	[last_updated] [datetime2](7) NULL,
	[status] [nvarchar](50) NULL,
	[visibility] [nvarchar](50) NULL,
	[moderation_status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Dataset] PRIMARY KEY CLUSTERED 
(
	[dataset_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatasetModeration]    Script Date: 11/3/2025 4:43:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatasetModeration](
	[moderation_id] [int] IDENTITY(1,1) NOT NULL,
	[dataset_id] [int] NULL,
	[moderator_user_id] [int] NULL,
	[review_date] [datetime2](7) NOT NULL,
	[moderation_status] [nvarchar](50) NULL,
	[comments] [nvarchar](max) NULL,
 CONSTRAINT [PK_DatasetModeration] PRIMARY KEY CLUSTERED 
(
	[moderation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatasetRecords]    Script Date: 11/3/2025 4:43:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatasetRecords](
	[RecordId] [bigint] IDENTITY(1,1) NOT NULL,
	[DatasetId] [int] NOT NULL,
	[province_id] [int] NOT NULL,
	[district_id] [int] NOT NULL,
	[station_id] [nvarchar](100) NOT NULL,
	[station_name] [nvarchar](255) NOT NULL,
	[station_address] [nvarchar](500) NULL,
	[station_operator] [nvarchar](100) NULL,
	[charging_timestamp] [datetime2](7) NOT NULL,
	[energy_kwh] [decimal](18, 4) NOT NULL,
	[voltage] [decimal](10, 2) NULL,
	[current] [decimal](10, 2) NULL,
	[power_kw] [decimal](10, 2) NULL,
	[duration_minutes] [decimal](10, 2) NULL,
	[charging_cost] [decimal](18, 2) NULL,
	[vehicle_type] [nvarchar](100) NULL,
	[battery_capacity_kwh] [decimal](10, 2) NULL,
	[soc_start] [decimal](5, 2) NULL,
	[soc_end] [decimal](5, 2) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[data_source] [nvarchar](100) NULL,
 CONSTRAINT [PK_DatasetRecords] PRIMARY KEY CLUSTERED 
(
	[RecordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[District]    Script Date: 11/3/2025 4:43:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District](
	[district_id] [int] IDENTITY(1,1) NOT NULL,
	[province_id] [int] NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[type] [nvarchar](100) NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_District] PRIMARY KEY CLUSTERED 
(
	[district_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OneTimePurchase]    Script Date: 11/3/2025 4:43:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OneTimePurchase](
	[otp_id] [int] IDENTITY(1,1) NOT NULL,
	[dataset_id] [int] NULL,
	[consumer_id] [int] NULL,
	[purchase_date] [datetime2](7) NOT NULL,
	[start_date] [datetime2](7) NULL,
	[end_date] [datetime2](7) NULL,
	[total_price] [decimal](18, 2) NULL,
	[license_type] [nvarchar](50) NULL,
	[download_count] [int] NOT NULL,
	[max_download] [int] NOT NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK_OneTimePurchase] PRIMARY KEY CLUSTERED 
(
	[otp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 11/3/2025 4:43:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[consumer_id] [int] NULL,
	[amount] [decimal](18, 2) NULL,
	[payment_date] [datetime2](7) NOT NULL,
	[payment_method] [nvarchar](100) NULL,
	[payment_type] [nvarchar](100) NULL,
	[reference_id] [int] NULL,
	[status] [nvarchar](50) NULL,
	[transaction_ref] [nvarchar](100) NULL,
	[payos_order_id] [nvarchar](100) NULL,
	[notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payout]    Script Date: 11/3/2025 4:43:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payout](
	[payout_id] [int] IDENTITY(1,1) NOT NULL,
	[provider_id] [int] NULL,
	[month_year] [nvarchar](7) NULL,
	[total_due] [decimal](18, 2) NULL,
	[payout_date] [datetime2](7) NULL,
	[payout_status] [nvarchar](50) NOT NULL,
	[payment_method] [nvarchar](100) NULL,
	[bank_account] [nvarchar](100) NULL,
	[transaction_ref] [nvarchar](100) NULL,
	[notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_Payout] PRIMARY KEY CLUSTERED 
(
	[payout_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Province]    Script Date: 11/3/2025 4:43:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[province_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[code] [nvarchar](50) NULL,
 CONSTRAINT [PK_Province] PRIMARY KEY CLUSTERED 
(
	[province_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RevenueShare]    Script Date: 11/3/2025 4:43:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RevenueShare](
	[share_id] [int] IDENTITY(1,1) NOT NULL,
	[payment_id] [int] NULL,
	[provider_id] [int] NULL,
	[dataset_id] [int] NULL,
	[total_amount] [decimal](18, 2) NULL,
	[provider_share] [decimal](18, 2) NULL,
	[admin_share] [decimal](18, 2) NULL,
	[calculated_date] [datetime2](7) NOT NULL,
	[payout_status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_RevenueShare] PRIMARY KEY CLUSTERED 
(
	[share_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscription]    Script Date: 11/3/2025 4:43:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscription](
	[sub_id] [int] IDENTITY(1,1) NOT NULL,
	[dataset_id] [int] NULL,
	[consumer_id] [int] NULL,
	[province_id] [int] NULL,
	[sub_start] [datetime2](7) NULL,
	[sub_end] [datetime2](7) NULL,
	[renewal_status] [nvarchar](50) NULL,
	[renewal_cycle] [nvarchar](50) NULL,
	[total_price] [decimal](18, 2) NULL,
	[request_count] [int] NOT NULL,
 CONSTRAINT [PK_Subscription] PRIMARY KEY CLUSTERED 
(
	[sub_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubscriptionPackagePurchase]    Script Date: 11/3/2025 4:43:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubscriptionPackagePurchase](
	[subscription_id] [int] IDENTITY(1,1) NOT NULL,
	[consumer_id] [int] NOT NULL,
	[province_id] [int] NOT NULL,
	[district_id] [int] NULL,
	[start_date] [datetime2](7) NOT NULL,
	[end_date] [datetime2](7) NOT NULL,
	[billing_cycle] [nvarchar](50) NOT NULL,
	[monthly_price] [decimal](18, 2) NOT NULL,
	[total_paid] [decimal](18, 2) NOT NULL,
	[purchase_date] [datetime2](7) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[auto_renew] [bit] NOT NULL,
	[cancelled_at] [datetime2](7) NULL,
	[dashboard_access_count] [int] NOT NULL,
	[last_access_date] [datetime2](7) NULL,
 CONSTRAINT [PK_SubscriptionPackagePurchase] PRIMARY KEY CLUSTERED 
(
	[subscription_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemPricing]    Script Date: 11/3/2025 4:43:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemPricing](
	[pricing_id] [int] IDENTITY(1,1) NOT NULL,
	[package_type] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
	[price_per_row] [decimal](18, 4) NOT NULL,
	[subscription_monthly_base] [decimal](18, 2) NULL,
	[api_price_per_call] [decimal](18, 4) NULL,
	[provider_commission_percent] [decimal](5, 2) NOT NULL,
	[admin_commission_percent] [decimal](5, 2) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SystemPricing] PRIMARY KEY CLUSTERED 
(
	[pricing_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/3/2025 4:43:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](150) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[role] [nvarchar](50) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251030073126_InitialCreate', N'8.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251103064253_RemoveOldPurchaseModels', N'8.0.11')
GO
SET IDENTITY_INSERT [dbo].[APIKey] ON 

INSERT [dbo].[APIKey] ([key_id], [api_purchase_id], [consumer_id], [key_value], [key_name], [created_at], [last_used_at], [is_active], [revoked_at], [revoked_reason], [requests_today], [last_request_date]) VALUES (1, 2, 1, N'evdata_VssZiB17TrKqRvMZaGEQVzawigYqkYJw', N'thanh1', CAST(N'2025-11-03T16:27:54.6535248' AS DateTime2), CAST(N'2025-11-03T16:28:26.8247950' AS DateTime2), 1, NULL, NULL, 1, CAST(N'2025-11-03T16:28:26.8268263' AS DateTime2))
SET IDENTITY_INSERT [dbo].[APIKey] OFF
GO
SET IDENTITY_INSERT [dbo].[APIPackagePurchase] ON 

INSERT [dbo].[APIPackagePurchase] ([api_purchase_id], [consumer_id], [province_id], [district_id], [api_calls_purchased], [api_calls_used], [price_per_call], [total_paid], [purchase_date], [expiry_date], [status]) VALUES (1, 1, 1, 1, 10000, 0, CAST(100.0000 AS Decimal(18, 4)), CAST(1000000.00 AS Decimal(18, 2)), CAST(N'2025-11-03T16:16:16.6233470' AS DateTime2), NULL, N'Pending')
INSERT [dbo].[APIPackagePurchase] ([api_purchase_id], [consumer_id], [province_id], [district_id], [api_calls_purchased], [api_calls_used], [price_per_call], [total_paid], [purchase_date], [expiry_date], [status]) VALUES (2, 1, 1, 1, 100, 1, CAST(100.0000 AS Decimal(18, 4)), CAST(10000.00 AS Decimal(18, 2)), CAST(N'2025-11-03T16:20:36.8862187' AS DateTime2), NULL, N'Active')
SET IDENTITY_INSERT [dbo].[APIPackagePurchase] OFF
GO
SET IDENTITY_INSERT [dbo].[DataConsumer] ON 

INSERT [dbo].[DataConsumer] ([consumer_id], [user_id], [organization_name], [contact_person], [contact_number], [billing_email], [created_at]) VALUES (1, 4, N'EV Research Institute', N'Consumer User', N'+84987654321', N'billing@evresearch.com', CAST(N'2025-11-03T11:46:27.7763230' AS DateTime2))
SET IDENTITY_INSERT [dbo].[DataConsumer] OFF
GO
SET IDENTITY_INSERT [dbo].[DataPackagePurchase] ON 

INSERT [dbo].[DataPackagePurchase] ([purchase_id], [consumer_id], [province_id], [district_id], [start_date], [end_date], [row_count], [price_per_row], [total_price], [purchase_date], [download_count], [max_download], [last_download_date], [status]) VALUES (1, 1, 1, NULL, CAST(N'2024-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2024-03-31T00:00:00.0000000' AS DateTime2), 400, CAST(10.0000 AS Decimal(18, 4)), CAST(4000.00 AS Decimal(18, 2)), CAST(N'2025-11-03T12:12:51.9283308' AS DateTime2), 1, 5, CAST(N'2025-11-03T14:43:34.4283301' AS DateTime2), N'Active')
INSERT [dbo].[DataPackagePurchase] ([purchase_id], [consumer_id], [province_id], [district_id], [start_date], [end_date], [row_count], [price_per_row], [total_price], [purchase_date], [download_count], [max_download], [last_download_date], [status]) VALUES (2, 1, 1, NULL, NULL, NULL, 402, CAST(10.0000 AS Decimal(18, 4)), CAST(4020.00 AS Decimal(18, 2)), CAST(N'2025-11-03T14:41:28.1705092' AS DateTime2), 0, 5, NULL, N'Active')
INSERT [dbo].[DataPackagePurchase] ([purchase_id], [consumer_id], [province_id], [district_id], [start_date], [end_date], [row_count], [price_per_row], [total_price], [purchase_date], [download_count], [max_download], [last_download_date], [status]) VALUES (3, 1, 1, NULL, NULL, NULL, 402, CAST(10.0000 AS Decimal(18, 4)), CAST(4020.00 AS Decimal(18, 2)), CAST(N'2025-11-03T16:03:06.2044221' AS DateTime2), 0, 5, NULL, N'Pending')
SET IDENTITY_INSERT [dbo].[DataPackagePurchase] OFF
GO
SET IDENTITY_INSERT [dbo].[DataProvider] ON 

INSERT [dbo].[DataProvider] ([provider_id], [user_id], [company_name], [company_website], [contact_email], [contact_phone], [address], [province_id], [created_at]) VALUES (1, 3, N'VinFast Charging Network', N'https://vinfastauto.com', N'provider@test.com', N'+84123456789', N'Vinhomes Ocean Park, Gia Lâm, Hà Nội', 1, CAST(N'2025-11-03T11:46:27.7454576' AS DateTime2))
SET IDENTITY_INSERT [dbo].[DataProvider] OFF
GO
SET IDENTITY_INSERT [dbo].[Dataset] ON 

INSERT [dbo].[Dataset] ([dataset_id], [provider_id], [port_id], [name], [description], [category], [data_format], [row_count], [upload_date], [last_updated], [status], [visibility], [moderation_status]) VALUES (1, 1, NULL, N'Hà Nội EV Charging Data - Q1 2024', N'Dữ liệu sạc xe điện tại các trạm VinFast ở Hà Nội trong quý 1 năm 2024. Bao gồm thông tin về năng lượng tiêu thụ, thời gian sạc, và chi phí.', N'EV Charging', N'CSV', 400, CAST(N'2025-10-04T11:46:27.8432941' AS DateTime2), NULL, N'Active', N'Public', N'Approved')
INSERT [dbo].[Dataset] ([dataset_id], [provider_id], [port_id], [name], [description], [category], [data_format], [row_count], [upload_date], [last_updated], [status], [visibility], [moderation_status]) VALUES (2, 1, NULL, N'TP.HCM EV Charging Data - Q1 2024', N'Dữ liệu sạc xe điện tại các trạm VinFast ở TP.HCM trong quý 1 năm 2024.', N'EV Charging', N'CSV', 320, CAST(N'2025-10-09T11:46:27.8433490' AS DateTime2), NULL, N'Active', N'Public', N'Approved')
INSERT [dbo].[Dataset] ([dataset_id], [provider_id], [port_id], [name], [description], [category], [data_format], [row_count], [upload_date], [last_updated], [status], [visibility], [moderation_status]) VALUES (3, 1, NULL, N'Đà Nẵng EV Charging Data - Q1 2024', N'Dữ liệu sạc xe điện tại các trạm VinFast ở Đà Nẵng trong quý 1 năm 2024.', N'EV Charging', N'CSV', 180, CAST(N'2025-10-14T11:46:27.8433498' AS DateTime2), NULL, N'Active', N'Public', N'Approved')
SET IDENTITY_INSERT [dbo].[Dataset] OFF
GO
SET IDENTITY_INSERT [dbo].[DatasetModeration] ON 

INSERT [dbo].[DatasetModeration] ([moderation_id], [dataset_id], [moderator_user_id], [review_date], [moderation_status], [comments]) VALUES (1, 4, 2, CAST(N'2025-11-03T12:55:05.9004014' AS DateTime2), N'Approved', N'Data quality is good. Approved')
SET IDENTITY_INSERT [dbo].[DatasetModeration] OFF
GO
SET IDENTITY_INSERT [dbo].[DatasetRecords] ON 

GO
SET IDENTITY_INSERT [dbo].[DatasetRecords] OFF
GO
SET IDENTITY_INSERT [dbo].[District] ON 

INSERT [dbo].[District] ([district_id], [province_id], [name], [type], [created_at]) VALUES (1, 1, N'Ba Đình', N'Quận', CAST(N'2025-11-03T11:46:26.3174341' AS DateTime2))
INSERT [dbo].[District] ([district_id], [province_id], [name], [type], [created_at]) VALUES (2, 1, N'Hoàn Kiếm', N'Quận', CAST(N'2025-11-03T11:46:26.3185513' AS DateTime2))
INSERT [dbo].[District] ([district_id], [province_id], [name], [type], [created_at]) VALUES (3, 1, N'Tây Hồ', N'Quận', CAST(N'2025-11-03T11:46:26.3185525' AS DateTime2))
SET IDENTITY_INSERT [dbo].[District] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([payment_id], [consumer_id], [amount], [payment_date], [payment_method], [payment_type], [reference_id], [status], [transaction_ref], [payos_order_id], [notes]) VALUES (1, 1, CAST(4000.00 AS Decimal(18, 2)), CAST(N'2025-11-03T12:33:51.9244798' AS DateTime2), N'PayOS', N'DataPackage', 1, N'Pending', N'1762148031', N'1762148031', NULL)
INSERT [dbo].[Payment] ([payment_id], [consumer_id], [amount], [payment_date], [payment_method], [payment_type], [reference_id], [status], [transaction_ref], [payos_order_id], [notes]) VALUES (2, 1, CAST(4000.00 AS Decimal(18, 2)), CAST(N'2025-11-03T12:43:18.1196708' AS DateTime2), N'PayOS', N'DataPackage', 1, N'Pending', N'1762148598', N'1762148598', NULL)
INSERT [dbo].[Payment] ([payment_id], [consumer_id], [amount], [payment_date], [payment_method], [payment_type], [reference_id], [status], [transaction_ref], [payos_order_id], [notes]) VALUES (3, 1, CAST(4000.00 AS Decimal(18, 2)), CAST(N'2025-11-03T12:46:44.7323809' AS DateTime2), N'PayOS', N'DataPackage', 1, N'Pending', N'1762148804', N'1762148804', NULL)
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Payout] ON 

INSERT [dbo].[Payout] ([payout_id], [provider_id], [month_year], [total_due], [payout_date], [payout_status], [payment_method], [bank_account], [transaction_ref], [notes]) VALUES (1, 1, N'2025-11', CAST(5614.00 AS Decimal(18, 2)), NULL, N'Pending', N'BankTransfer', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Payout] OFF
GO
SET IDENTITY_INSERT [dbo].[Province] ON 

INSERT [dbo].[Province] ([province_id], [name], [code]) VALUES (1, N'Hà Nội', N'01')
INSERT [dbo].[Province] ([province_id], [name], [code]) VALUES (2, N'Hồ Chí Minh', N'79')
INSERT [dbo].[Province] ([province_id], [name], [code]) VALUES (3, N'Đà Nẵng', N'48')
SET IDENTITY_INSERT [dbo].[Province] OFF
GO
SET IDENTITY_INSERT [dbo].[RevenueShare] ON 

INSERT [dbo].[RevenueShare] ([share_id], [payment_id], [provider_id], [dataset_id], [total_amount], [provider_share], [admin_share], [calculated_date], [payout_status]) VALUES (1, 5, 1, NULL, CAST(4000.00 AS Decimal(18, 2)), CAST(2800.00 AS Decimal(18, 2)), CAST(1200.00 AS Decimal(18, 2)), CAST(N'2025-11-03T13:32:13.8918537' AS DateTime2), N'Pending')
INSERT [dbo].[RevenueShare] ([share_id], [payment_id], [provider_id], [dataset_id], [total_amount], [provider_share], [admin_share], [calculated_date], [payout_status]) VALUES (2, 6, 1, NULL, CAST(4020.00 AS Decimal(18, 2)), CAST(2814.00 AS Decimal(18, 2)), CAST(1206.00 AS Decimal(18, 2)), CAST(N'2025-11-03T14:42:07.6708434' AS DateTime2), N'Pending')
INSERT [dbo].[RevenueShare] ([share_id], [payment_id], [provider_id], [dataset_id], [total_amount], [provider_share], [admin_share], [calculated_date], [payout_status]) VALUES (3, 9, 1, NULL, CAST(10000.00 AS Decimal(18, 2)), CAST(3000.00 AS Decimal(18, 2)), CAST(7000.00 AS Decimal(18, 2)), CAST(N'2025-11-03T16:22:21.2905232' AS DateTime2), N'Pending')
SET IDENTITY_INSERT [dbo].[RevenueShare] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemPricing] ON 

INSERT [dbo].[SystemPricing] ([pricing_id], [package_type], [description], [price_per_row], [subscription_monthly_base], [api_price_per_call], [provider_commission_percent], [admin_commission_percent], [is_active], [created_at], [updated_at]) VALUES (1, N'DataPackage', N'Giá mua dữ liệu theo dòng - Data Package', CAST(10.0000 AS Decimal(18, 4)), CAST(0.00 AS Decimal(18, 2)), CAST(0.0100 AS Decimal(18, 4)), CAST(70.00 AS Decimal(5, 2)), CAST(30.00 AS Decimal(5, 2)), 1, CAST(N'2025-11-03T11:46:26.3786011' AS DateTime2), CAST(N'2025-11-03T16:00:07.3038710' AS DateTime2))
INSERT [dbo].[SystemPricing] ([pricing_id], [package_type], [description], [price_per_row], [subscription_monthly_base], [api_price_per_call], [provider_commission_percent], [admin_commission_percent], [is_active], [created_at], [updated_at]) VALUES (2, N'SubscriptionPackage', N'Gói subscription xem dashboard analytics', CAST(0.0000 AS Decimal(18, 4)), CAST(500000.00 AS Decimal(18, 2)), NULL, CAST(60.00 AS Decimal(5, 2)), CAST(40.00 AS Decimal(5, 2)), 1, CAST(N'2025-11-03T11:46:26.3787671' AS DateTime2), CAST(N'2025-11-03T11:46:26.3787674' AS DateTime2))
INSERT [dbo].[SystemPricing] ([pricing_id], [package_type], [description], [price_per_row], [subscription_monthly_base], [api_price_per_call], [provider_commission_percent], [admin_commission_percent], [is_active], [created_at], [updated_at]) VALUES (3, N'APIPackage', N'Gói API access với giới hạn số lượng calls', CAST(10.0000 AS Decimal(18, 4)), NULL, CAST(100.0000 AS Decimal(18, 4)), CAST(30.00 AS Decimal(5, 2)), CAST(70.00 AS Decimal(5, 2)), 1, CAST(N'2025-11-03T11:46:26.3788177' AS DateTime2), CAST(N'2025-11-03T16:19:44.5483541' AS DateTime2))
SET IDENTITY_INSERT [dbo].[SystemPricing] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([user_id], [full_name], [email], [password], [role], [created_at], [status]) VALUES (1, N'Admin User', N'admin@test.com', N'$2a$11$taVTQR3wWfhKWzMgAL85/u2puwXXmYmn625tYR3R3EdnVKBWpqYRm', N'Admin', CAST(N'2025-11-03T11:46:26.4263662' AS DateTime2), N'Active')
INSERT [dbo].[User] ([user_id], [full_name], [email], [password], [role], [created_at], [status]) VALUES (2, N'Moderator User', N'moderator@test.com', N'$2a$11$b3RUrpcBT1Jy5dGmieAm2.GQTmSDqMK73Y1ylS9RE.DNn2XbKCNI2', N'Moderator', CAST(N'2025-11-03T11:46:26.7548393' AS DateTime2), N'Active')
INSERT [dbo].[User] ([user_id], [full_name], [email], [password], [role], [created_at], [status]) VALUES (3, N'VinFast Provider', N'provider@test.com', N'$2a$11$Z/piME8gYlmWSzjvG.i2rexMwx1tP6NyJxCgcYTlweKbPbpgmfJbe', N'DataProvider', CAST(N'2025-11-03T11:46:27.1122001' AS DateTime2), N'Active')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
/****** Object:  Index [IX_APIKey_api_purchase_id]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_APIKey_api_purchase_id] ON [dbo].[APIKey]
(
	[api_purchase_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_APIKey_consumer_id]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_APIKey_consumer_id] ON [dbo].[APIKey]
(
	[consumer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_APIKey_key_value]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_APIKey_key_value] ON [dbo].[APIKey]
(
	[key_value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_APIPackage_api_key]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_APIPackage_api_key] ON [dbo].[APIPackage]
(
	[api_key] ASC
)
WHERE ([api_key] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_APIPackage_consumer_id]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_APIPackage_consumer_id] ON [dbo].[APIPackage]
(
	[consumer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_APIPackage_dataset_id]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_APIPackage_dataset_id] ON [dbo].[APIPackage]
(
	[dataset_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_APIPackagePurchase_consumer_id]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_APIPackagePurchase_consumer_id] ON [dbo].[APIPackagePurchase]
(
	[consumer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_APIPackagePurchase_district_id]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_APIPackagePurchase_district_id] ON [dbo].[APIPackagePurchase]
(
	[district_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_APIPackagePurchase_province_id]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_APIPackagePurchase_province_id] ON [dbo].[APIPackagePurchase]
(
	[province_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DataConsumer_user_id]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DataConsumer_user_id] ON [dbo].[DataConsumer]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DataPackagePurchase_consumer_id]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_DataPackagePurchase_consumer_id] ON [dbo].[DataPackagePurchase]
(
	[consumer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DataPackagePurchase_district_id]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_DataPackagePurchase_district_id] ON [dbo].[DataPackagePurchase]
(
	[district_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DataPackagePurchase_province_id]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_DataPackagePurchase_province_id] ON [dbo].[DataPackagePurchase]
(
	[province_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DataProvider_province_id]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_DataProvider_province_id] ON [dbo].[DataProvider]
(
	[province_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DataProvider_user_id]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DataProvider_user_id] ON [dbo].[DataProvider]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Dataset_category]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_Dataset_category] ON [dbo].[Dataset]
(
	[category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Dataset_moderation_status]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_Dataset_moderation_status] ON [dbo].[Dataset]
(
	[moderation_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Dataset_provider_id]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_Dataset_provider_id] ON [dbo].[Dataset]
(
	[provider_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Dataset_status]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_Dataset_status] ON [dbo].[Dataset]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DatasetModeration_dataset_id]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_DatasetModeration_dataset_id] ON [dbo].[DatasetModeration]
(
	[dataset_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DatasetModeration_moderator_user_id]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_DatasetModeration_moderator_user_id] ON [dbo].[DatasetModeration]
(
	[moderator_user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DatasetRecords_charging_timestamp]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_DatasetRecords_charging_timestamp] ON [dbo].[DatasetRecords]
(
	[charging_timestamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DatasetRecords_DatasetId]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_DatasetRecords_DatasetId] ON [dbo].[DatasetRecords]
(
	[DatasetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DatasetRecords_district_id]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_DatasetRecords_district_id] ON [dbo].[DatasetRecords]
(
	[district_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DatasetRecords_province_id_district_id]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_DatasetRecords_province_id_district_id] ON [dbo].[DatasetRecords]
(
	[province_id] ASC,
	[district_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_District_province_id]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_District_province_id] ON [dbo].[District]
(
	[province_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OneTimePurchase_consumer_id]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_OneTimePurchase_consumer_id] ON [dbo].[OneTimePurchase]
(
	[consumer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OneTimePurchase_dataset_id]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_OneTimePurchase_dataset_id] ON [dbo].[OneTimePurchase]
(
	[dataset_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payment_consumer_id]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payment_consumer_id] ON [dbo].[Payment]
(
	[consumer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payment_payment_date]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payment_payment_date] ON [dbo].[Payment]
(
	[payment_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Payment_status]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payment_status] ON [dbo].[Payment]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payout_provider_id]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payout_provider_id] ON [dbo].[Payout]
(
	[provider_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RevenueShare_dataset_id]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_RevenueShare_dataset_id] ON [dbo].[RevenueShare]
(
	[dataset_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RevenueShare_payment_id]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_RevenueShare_payment_id] ON [dbo].[RevenueShare]
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RevenueShare_provider_id]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_RevenueShare_provider_id] ON [dbo].[RevenueShare]
(
	[provider_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Subscription_consumer_id]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_Subscription_consumer_id] ON [dbo].[Subscription]
(
	[consumer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Subscription_dataset_id]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_Subscription_dataset_id] ON [dbo].[Subscription]
(
	[dataset_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Subscription_province_id]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_Subscription_province_id] ON [dbo].[Subscription]
(
	[province_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubscriptionPackagePurchase_consumer_id]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_SubscriptionPackagePurchase_consumer_id] ON [dbo].[SubscriptionPackagePurchase]
(
	[consumer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubscriptionPackagePurchase_district_id]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_SubscriptionPackagePurchase_district_id] ON [dbo].[SubscriptionPackagePurchase]
(
	[district_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubscriptionPackagePurchase_province_id]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_SubscriptionPackagePurchase_province_id] ON [dbo].[SubscriptionPackagePurchase]
(
	[province_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_User_email]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_User_email] ON [dbo].[User]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_User_role]    Script Date: 11/3/2025 4:43:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_User_role] ON [dbo].[User]
(
	[role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[APIKey]  WITH CHECK ADD  CONSTRAINT [FK_APIKey_APIPackagePurchase_api_purchase_id] FOREIGN KEY([api_purchase_id])
REFERENCES [dbo].[APIPackagePurchase] ([api_purchase_id])
GO
ALTER TABLE [dbo].[APIKey] CHECK CONSTRAINT [FK_APIKey_APIPackagePurchase_api_purchase_id]
GO
ALTER TABLE [dbo].[APIKey]  WITH CHECK ADD  CONSTRAINT [FK_APIKey_DataConsumer_consumer_id] FOREIGN KEY([consumer_id])
REFERENCES [dbo].[DataConsumer] ([consumer_id])
GO
ALTER TABLE [dbo].[APIKey] CHECK CONSTRAINT [FK_APIKey_DataConsumer_consumer_id]
GO
ALTER TABLE [dbo].[APIPackage]  WITH CHECK ADD  CONSTRAINT [FK_APIPackage_DataConsumer_consumer_id] FOREIGN KEY([consumer_id])
REFERENCES [dbo].[DataConsumer] ([consumer_id])
GO
ALTER TABLE [dbo].[APIPackage] CHECK CONSTRAINT [FK_APIPackage_DataConsumer_consumer_id]
GO
ALTER TABLE [dbo].[APIPackage]  WITH CHECK ADD  CONSTRAINT [FK_APIPackage_Dataset_dataset_id] FOREIGN KEY([dataset_id])
REFERENCES [dbo].[Dataset] ([dataset_id])
GO
ALTER TABLE [dbo].[APIPackage] CHECK CONSTRAINT [FK_APIPackage_Dataset_dataset_id]
GO
ALTER TABLE [dbo].[APIPackagePurchase]  WITH CHECK ADD  CONSTRAINT [FK_APIPackagePurchase_DataConsumer_consumer_id] FOREIGN KEY([consumer_id])
REFERENCES [dbo].[DataConsumer] ([consumer_id])
GO
ALTER TABLE [dbo].[APIPackagePurchase] CHECK CONSTRAINT [FK_APIPackagePurchase_DataConsumer_consumer_id]
GO
ALTER TABLE [dbo].[APIPackagePurchase]  WITH CHECK ADD  CONSTRAINT [FK_APIPackagePurchase_District_district_id] FOREIGN KEY([district_id])
REFERENCES [dbo].[District] ([district_id])
GO
ALTER TABLE [dbo].[APIPackagePurchase] CHECK CONSTRAINT [FK_APIPackagePurchase_District_district_id]
GO
ALTER TABLE [dbo].[APIPackagePurchase]  WITH CHECK ADD  CONSTRAINT [FK_APIPackagePurchase_Province_province_id] FOREIGN KEY([province_id])
REFERENCES [dbo].[Province] ([province_id])
GO
ALTER TABLE [dbo].[APIPackagePurchase] CHECK CONSTRAINT [FK_APIPackagePurchase_Province_province_id]
GO
ALTER TABLE [dbo].[DataConsumer]  WITH CHECK ADD  CONSTRAINT [FK_DataConsumer_User_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[DataConsumer] CHECK CONSTRAINT [FK_DataConsumer_User_user_id]
GO
ALTER TABLE [dbo].[DataPackagePurchase]  WITH CHECK ADD  CONSTRAINT [FK_DataPackagePurchase_DataConsumer_consumer_id] FOREIGN KEY([consumer_id])
REFERENCES [dbo].[DataConsumer] ([consumer_id])
GO
ALTER TABLE [dbo].[DataPackagePurchase] CHECK CONSTRAINT [FK_DataPackagePurchase_DataConsumer_consumer_id]
GO
ALTER TABLE [dbo].[DataPackagePurchase]  WITH CHECK ADD  CONSTRAINT [FK_DataPackagePurchase_District_district_id] FOREIGN KEY([district_id])
REFERENCES [dbo].[District] ([district_id])
GO
ALTER TABLE [dbo].[DataPackagePurchase] CHECK CONSTRAINT [FK_DataPackagePurchase_District_district_id]
GO
ALTER TABLE [dbo].[DataPackagePurchase]  WITH CHECK ADD  CONSTRAINT [FK_DataPackagePurchase_Province_province_id] FOREIGN KEY([province_id])
REFERENCES [dbo].[Province] ([province_id])
GO
ALTER TABLE [dbo].[DataPackagePurchase] CHECK CONSTRAINT [FK_DataPackagePurchase_Province_province_id]
GO
ALTER TABLE [dbo].[DataProvider]  WITH CHECK ADD  CONSTRAINT [FK_DataProvider_Province_province_id] FOREIGN KEY([province_id])
REFERENCES [dbo].[Province] ([province_id])
GO
ALTER TABLE [dbo].[DataProvider] CHECK CONSTRAINT [FK_DataProvider_Province_province_id]
GO
ALTER TABLE [dbo].[DataProvider]  WITH CHECK ADD  CONSTRAINT [FK_DataProvider_User_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[DataProvider] CHECK CONSTRAINT [FK_DataProvider_User_user_id]
GO
ALTER TABLE [dbo].[Dataset]  WITH CHECK ADD  CONSTRAINT [FK_Dataset_DataProvider_provider_id] FOREIGN KEY([provider_id])
REFERENCES [dbo].[DataProvider] ([provider_id])
GO
ALTER TABLE [dbo].[Dataset] CHECK CONSTRAINT [FK_Dataset_DataProvider_provider_id]
GO
ALTER TABLE [dbo].[DatasetModeration]  WITH CHECK ADD  CONSTRAINT [FK_DatasetModeration_Dataset_dataset_id] FOREIGN KEY([dataset_id])
REFERENCES [dbo].[Dataset] ([dataset_id])
GO
ALTER TABLE [dbo].[DatasetModeration] CHECK CONSTRAINT [FK_DatasetModeration_Dataset_dataset_id]
GO
ALTER TABLE [dbo].[DatasetModeration]  WITH CHECK ADD  CONSTRAINT [FK_DatasetModeration_User_moderator_user_id] FOREIGN KEY([moderator_user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[DatasetModeration] CHECK CONSTRAINT [FK_DatasetModeration_User_moderator_user_id]
GO
ALTER TABLE [dbo].[DatasetRecords]  WITH CHECK ADD  CONSTRAINT [FK_DatasetRecords_Dataset_DatasetId] FOREIGN KEY([DatasetId])
REFERENCES [dbo].[Dataset] ([dataset_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DatasetRecords] CHECK CONSTRAINT [FK_DatasetRecords_Dataset_DatasetId]
GO
ALTER TABLE [dbo].[DatasetRecords]  WITH CHECK ADD  CONSTRAINT [FK_DatasetRecords_District_district_id] FOREIGN KEY([district_id])
REFERENCES [dbo].[District] ([district_id])
GO
ALTER TABLE [dbo].[DatasetRecords] CHECK CONSTRAINT [FK_DatasetRecords_District_district_id]
GO
ALTER TABLE [dbo].[DatasetRecords]  WITH CHECK ADD  CONSTRAINT [FK_DatasetRecords_Province_province_id] FOREIGN KEY([province_id])
REFERENCES [dbo].[Province] ([province_id])
GO
ALTER TABLE [dbo].[DatasetRecords] CHECK CONSTRAINT [FK_DatasetRecords_Province_province_id]
GO
ALTER TABLE [dbo].[District]  WITH CHECK ADD  CONSTRAINT [FK_District_Province_province_id] FOREIGN KEY([province_id])
REFERENCES [dbo].[Province] ([province_id])
GO
ALTER TABLE [dbo].[District] CHECK CONSTRAINT [FK_District_Province_province_id]
GO
ALTER TABLE [dbo].[OneTimePurchase]  WITH CHECK ADD  CONSTRAINT [FK_OneTimePurchase_DataConsumer_consumer_id] FOREIGN KEY([consumer_id])
REFERENCES [dbo].[DataConsumer] ([consumer_id])
GO
ALTER TABLE [dbo].[OneTimePurchase] CHECK CONSTRAINT [FK_OneTimePurchase_DataConsumer_consumer_id]
GO
ALTER TABLE [dbo].[OneTimePurchase]  WITH CHECK ADD  CONSTRAINT [FK_OneTimePurchase_Dataset_dataset_id] FOREIGN KEY([dataset_id])
REFERENCES [dbo].[Dataset] ([dataset_id])
GO
ALTER TABLE [dbo].[OneTimePurchase] CHECK CONSTRAINT [FK_OneTimePurchase_Dataset_dataset_id]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_DataConsumer_consumer_id] FOREIGN KEY([consumer_id])
REFERENCES [dbo].[DataConsumer] ([consumer_id])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_DataConsumer_consumer_id]
GO
ALTER TABLE [dbo].[Payout]  WITH CHECK ADD  CONSTRAINT [FK_Payout_DataProvider_provider_id] FOREIGN KEY([provider_id])
REFERENCES [dbo].[DataProvider] ([provider_id])
GO
ALTER TABLE [dbo].[Payout] CHECK CONSTRAINT [FK_Payout_DataProvider_provider_id]
GO
ALTER TABLE [dbo].[RevenueShare]  WITH CHECK ADD  CONSTRAINT [FK_RevenueShare_DataProvider_provider_id] FOREIGN KEY([provider_id])
REFERENCES [dbo].[DataProvider] ([provider_id])
GO
ALTER TABLE [dbo].[RevenueShare] CHECK CONSTRAINT [FK_RevenueShare_DataProvider_provider_id]
GO
ALTER TABLE [dbo].[RevenueShare]  WITH CHECK ADD  CONSTRAINT [FK_RevenueShare_Dataset_dataset_id] FOREIGN KEY([dataset_id])
REFERENCES [dbo].[Dataset] ([dataset_id])
GO
ALTER TABLE [dbo].[RevenueShare] CHECK CONSTRAINT [FK_RevenueShare_Dataset_dataset_id]
GO
ALTER TABLE [dbo].[RevenueShare]  WITH CHECK ADD  CONSTRAINT [FK_RevenueShare_Payment_payment_id] FOREIGN KEY([payment_id])
REFERENCES [dbo].[Payment] ([payment_id])
GO
ALTER TABLE [dbo].[RevenueShare] CHECK CONSTRAINT [FK_RevenueShare_Payment_payment_id]
GO
ALTER TABLE [dbo].[Subscription]  WITH CHECK ADD  CONSTRAINT [FK_Subscription_DataConsumer_consumer_id] FOREIGN KEY([consumer_id])
REFERENCES [dbo].[DataConsumer] ([consumer_id])
GO
ALTER TABLE [dbo].[Subscription] CHECK CONSTRAINT [FK_Subscription_DataConsumer_consumer_id]
GO
ALTER TABLE [dbo].[Subscription]  WITH CHECK ADD  CONSTRAINT [FK_Subscription_Dataset_dataset_id] FOREIGN KEY([dataset_id])
REFERENCES [dbo].[Dataset] ([dataset_id])
GO
ALTER TABLE [dbo].[Subscription] CHECK CONSTRAINT [FK_Subscription_Dataset_dataset_id]
GO
ALTER TABLE [dbo].[Subscription]  WITH CHECK ADD  CONSTRAINT [FK_Subscription_Province_province_id] FOREIGN KEY([province_id])
REFERENCES [dbo].[Province] ([province_id])
GO
ALTER TABLE [dbo].[Subscription] CHECK CONSTRAINT [FK_Subscription_Province_province_id]
GO
ALTER TABLE [dbo].[SubscriptionPackagePurchase]  WITH CHECK ADD  CONSTRAINT [FK_SubscriptionPackagePurchase_DataConsumer_consumer_id] FOREIGN KEY([consumer_id])
REFERENCES [dbo].[DataConsumer] ([consumer_id])
GO
ALTER TABLE [dbo].[SubscriptionPackagePurchase] CHECK CONSTRAINT [FK_SubscriptionPackagePurchase_DataConsumer_consumer_id]
GO
ALTER TABLE [dbo].[SubscriptionPackagePurchase]  WITH CHECK ADD  CONSTRAINT [FK_SubscriptionPackagePurchase_District_district_id] FOREIGN KEY([district_id])
REFERENCES [dbo].[District] ([district_id])
GO
ALTER TABLE [dbo].[SubscriptionPackagePurchase] CHECK CONSTRAINT [FK_SubscriptionPackagePurchase_District_district_id]
GO
ALTER TABLE [dbo].[SubscriptionPackagePurchase]  WITH CHECK ADD  CONSTRAINT [FK_SubscriptionPackagePurchase_Province_province_id] FOREIGN KEY([province_id])
REFERENCES [dbo].[Province] ([province_id])
GO
ALTER TABLE [dbo].[SubscriptionPackagePurchase] CHECK CONSTRAINT [FK_SubscriptionPackagePurchase_Province_province_id]
GO
USE [master]
GO
